---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

import { finishedBooks, type FinishedBook } from "@/src/lib/books";
import { podcasts, type Podcast } from "@/src/lib/podcasts";

const books = Object.values(finishedBooks).filter(
  (book: FinishedBook) => book.fave,
);

---

<BaseLayout pageTitle="favorites">
  <div class="font-barlow">
    <h1 class="text-center mb-6">some of my faves</h1>
    <div class="space-y-10">
      <details open>
        <summary
          ><h2 class="inline">
            podcasts<span class="text-base"
              ><sup><a href="#footnote-1" class="underline">1</a></sup></span
            >
          </h2></summary
        >
        <ul class="space-y-1 my-2 ml-3">
          {
            podcasts.map((pod: Podcast) => {
              return (
                <li class="grid grid-cols-[1fr,2fr,5fr] gap-x-2">
                  <p>{"★".repeat(pod.stars) + "☆".repeat(5 - pod.stars)}</p>
                  <a href={pod.url} class="underline">
                    {pod.name}
                  </a>
                  <p>
                    [<span class="font-semibold">{pod.category}</span>]{" "}
                    {pod.thoughts}
                  </p>
                </li>
              );
            })
          }
        </ul>
      </details>
      <div>
        <details open>
          <summary
            ><h2 class="inline">
              books<span class="text-base"
                ><sup><a href="#footnote-2" class="underline">2</a></sup></span
              >
            </h2></summary
          >
          <ul class="space-y-1 my-2 ml-3">
            {
              books.map((book: FinishedBook) => {
                return (
                  <li class="grid grid-cols-[1fr,2fr,5fr] gap-x-2">
                    <p>{"★".repeat(book.stars) + "☆".repeat(5 - book.stars)}</p>
                    <a href={book.url} class="underline">
                      {book.name}
                    </a>
                    <p>
                      [<span class="font-semibold">{book.category}</span>]{" "}
                      {book.thoughts}
                    </p>
                  </li>
                );
              })
            }
          </ul>
        </details>
      </div>
      <div class="space-y-4">
        <h3>footnotes</h3>
        <ol class="list-decimal ml-4">
          <li id="footnote-1">
            I listen to a lot of podcasts. These are the ones I listen to
            consistently, hence why all are 4 or 5 stars.
          </li>
          <li id="footnote-2">
            More <a href="/books" class="underline">books</a>. Like with
            podcasts, these are my favorites, so all have many stars.
          </li>
        </ol>
      </div>
    </div>
  </div>
</BaseLayout>
